body {
  max-width: 1440px;
  margin: auto;
  color: #fff;
  text-underline-position: under;
}

.header {
  display: grid;
  grid-template-columns: 1fr 12% 1fr;
  place-content: center;
  align-items: center;
  padding: 92px 52px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  padding-left: 8px;
}

.header__logo-image {
  max-width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.35;
  white-space: nowrap;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.6);
}

.cover__title {
  position: absolute;
  top: 165px;
  right: 50px;
  left: 50px;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text-center {
  line-height: 1.4;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: 22px;
  min-width: 1000px;
  justify-content: space-between;
}

.cover__description-item {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 32px;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  font-family: Raleway, Arial, sans-serif;
  background-color: transparent;
}
